# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Build output
dist/
build/

# Logs
*.log

# Ignore how I'm looking behind the curtain here...
furtrack-client-master/